#container {
    min-height: 97vh;
    position: relative;
}

div#leftDoor {
    min-width: 50%;
    min-height: 97vh;
    position: absolute;
    left: 0;
    background-color: red;
}

div#rightDoor {
    min-width: 50%;
    min-height: 97vh;
    position: absolute;
    right: 0;
    background-color: blue;
}

#clickOpen {
    height: 70px;
    width: 70px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;

    transform: rotate(0deg);
}